body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("../images/background.jpg");
    background-position: center;
}

/*
    //////////////////////////////////////////
    ////////////////SECTIONS//////////////////
    //////////////////////////////////////////
*/
section.mobile {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.funktionen {
    position: relative;
    padding: 80px 0;
}

    section.funktionen .feature-item {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

        section.funktionen .feature-item i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left,#7b4397,#dc2430);
            background: linear-gradient(to left,#7b4397,#dc2430);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

section.showcase {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.preise {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

section.about {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

section.konzept {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    padding: 80px 0;
}

section.team-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*
    //////////////////////////////////////////
    /////////////BORDERS / PADDINGS///////////
    //////////////////////////////////////////
*/
.smallimg {
    height: auto;
    width: 100%;
}

.topborder {
    padding-top: 15px;
}

.topborderxl {
    padding-top: 35px;
}

.topborderxxl {
    padding-top: 45px;
}

.botborder {
    padding-bottom: 15px;
}

.abstand {
    padding-top: 40px;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.konzeptrowborder {
    padding-top: 20px;
}

.rowbackground {
    background-color: #F3F3F3;
}

@media only screen and (max-width: 500px) {
    .paddingtop {
        padding-top: 15px;
    }
}

/*
    //////////////////////////////////////////
    ////////////////FONT-STYLE////////////////
    //////////////////////////////////////////
*/

.rand {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 3px 0 black;
}

@media screen and (max-width: 400px) {
    .rand {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        text-shadow: 0 3px 0 black;
    }
}

.changeColor {
    color: black;
}

/*
    //////////////////////////////////////////
    /////////////Background-Color/////////////
    //////////////////////////////////////////
*/

.grayBack {
    background-color: #F3F3F3;
}


.androidbildschirm {
    background-image: url("../images/androidmockup.jpeg");
    background-size: contain;
}

.iosbildschirm {
    background-image: url("../images/ios.jpg");
    background-size: contain;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.card-text {
    color: black !important;
}
/*
    //////////////////////////////////////////
    ////////////////Android///////////////////
    //////////////////////////////////////////
*/

.yellowTemp{
    color:lightgreen !important;
}

.aStart {
    background-image: url(../images/deviceImages/start.PNG);
    background-size: inherit;
}

.aFrage1 {
    background-image: url(../images/deviceImages/frage.PNG);
    background-size: cover;
}

.aFrage2 {
    background-image: url(../images/deviceImages/frage.PNG);
    background-size: cover;
}

.aFrage3 {
    background-image: url(../images/deviceImages/ampel.PNG);
    background-size: cover;
}

.aFrage5 {
    background-image: url(../images/deviceImages/textfrage.PNG);
    background-size: cover;
}

.aFrage51 {
    background-image: url(../images/deviceImages/mehrfachantwort.PNG);
    background-size: cover;
}

.aSurvey {
    background-image: url();
}

.a.Nav {
    background-image: url();
}

#aHomeFrage1 {
    position: absolute;
    top: 70px;
    left: 9px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

#aHomeFrage2 {
    position: absolute;
    top: 122px;
    left: 9px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

#aHomeFrage3 {
    position: absolute;
    top: 184px;
    left: 9px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

#aHomeFrage4 {
    position: absolute;
    top: 227px;
    left: 9px;
    width: 200px;
    height: 85px;
    cursor: pointer;
}

#aHomeFrage5 {
    position: absolute;
    top: 316px;
    left: 9px;
    width: 200px;
    height: 53px;
    cursor: pointer;
}

#aFrage1Ja {
    display: none;
    position: absolute;
    top: 110px;
    left: 2px;
    width: 170px;
    height: 40px;
    cursor: pointer;
}

#aFrage1Nein {
    display: none;
    position: absolute;
    top: 110px;
    left: 180px;
    width: 140px;
    height: 40px;
    cursor: pointer;
}

#aFrage3Ja {
    display: none;
    position: absolute;
    top: 110px;
    left: 1px;
    width: 115px;
    height: 30px;
    cursor: pointer;
}

#aFrage3Nein {
    display: none;
    position: absolute;
    top: 110px;
    left: 115px;
    width: 115px;
    height: 30px;
    cursor: pointer;
}

#aFrage3Ka {
    display: none;
    position: absolute;
    top: 110px;
    left: 231px;
    width: 115px;
    height: 30px;
    cursor: pointer;
}

#aFrage5T {
    display: none;
    position: absolute;
    top: 105px;
    left: 2px;
    width: 315px;
    height: 40px;
    cursor: pointer;
}

#aFrage5A {
    display: none;
    position: absolute;
    top: 195px;
    left: 20px;
    width: 350px;
    height: 40px;
    cursor: pointer;
}

#aFrage5B {
    display: none;
    position: absolute;
    top: 245px;
    left: 20px;
    width: 350px;
    height: 40px;
    cursor: pointer;
}

#aFrage5C {
    display: none;
    position: absolute;
    top: 280px;
    left: 20px;
    width: 350px;
    height: 40px;
    cursor: pointer;
}

#aFrage5D {
    display: none;
    position: absolute;
    top: 320px;
    left: 20px;
    width: 350px;
    height: 40px;
    cursor: pointer;
}

#aFrage5S {
    display: none;
    position: absolute;
    top: 155px;
    left: 1px;
    width: 315px;
    height: 46px;
    cursor: pointer;
}

#aReturn {
    display: none;
    position: absolute;
    top: 25px;
    left: 3px;
    width: 46px;
    height: 46px;
    cursor: pointer;
}



/*
    //////////////////////////////////////////
    ////////////////IOs///////////////////
    //////////////////////////////////////////
*/

.iStart {
    background-image: url();
}

.iSurvey {
    background-image: url();
}

.i.Nav {
    background-image: url();
}
