@using SimpleQ.Webinterface.App_LocalResources

<div class="row pl-4 mt-1 ml-0 mr-0">
    <h2>@Resources.groupAdministrationHeader</h2>
</div>
<div class="row mt-1 pl-3 ml-0 mr-0">
    <div class="col-md-4">
        <h4 class="text-center">Gruppenauswahl</h4>
        <div class="form-group mt-2 mb-1">
            <label for="groups">@Resources.groups</label>
            <div class="border border-dark">
                <ul class="list-group ga-groups-ul pl-2" id="groups">
                    @{ List<string> l = new List<string>();
                        l.Add("HR");
                        l.Add("Produktion");
                        l.Add("Einkauf");
                        l.Add("department 4");
                        l.Add("testdep4");
                        l.Add("alddaaa");
                        l.Add("neu");
                    }
                    @for (var i = 0; i < l.Count; i++)
                    {
                        <li>
                            <label class="form-check-label">
                                <input type="checkbox"> IT
                            </label>
                        @l[i]
                        </li>
                    }
                </ul>
            </div>
        </div>
        <span>Gewählte Gruppe <b>IT Produktion</b></span>
        <button type="submit" class="btn btn-primary btn-block mt-3">Neue Gruppe erstellen</button>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Aktionen</h4>
        @*<div class="form-group">
            <label for="QuestionTimeTimePicker">Name</label>
            <span class="row mr-0 ml-0">
                <span class="col-11 p-0"><input id="QuestimeTimeTimePicker" type="text" class="form-control" /></span>
                <span class="col-1 p-0"><button type="button" class="btn btn-info pb-0" onclick="editAnswer(this)"><i class="material-icons">&#xe150;</i></button></span>
            </span>
        </div>*@
        <label>Name</label>
        <div class="row mr-0 ml-0 mt-1" id="newCategoryDiv">
            <div class="col-10 p-0">
                <input class="form-control rightNotRounded withoutBorder" id="groupNameInput" readonly type="text" value="IT Produktion" />
            </div>
            <div class="col-2 p-0">
                <button type="button" class="btn btn-success btn-block pb-0 pl-0 pr-0 leftNotRounded" onclick="editGroupName()" data-toggle="tooltip" title="@Resources.edit"><i class="material-icons">&#xe150;</i></button>
            </div>
        </div>
        <button class="btn btn-primary btn-block mt-2">Mitglied hinzufügen</button>

    </div>
    <div class="col-md-4">
        <h4 class="text-center">Infos</h4>
    </div>
</div>
<div class="modal" id="newGroupModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">New Group..</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="NewGroupTB">Name of the group</label>
                <input id="NewGroupTB" type="text" class="form-control" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
            </div>

        </div>
    </div>
</div>

<script>

    function editGroupName() {
        //let input = document.getElementById("groupNameInput");
        $("#groupNameInput").removeClass("withoutBorder").removeAttr("readonly");
    }

</script>