<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:/temp/nlog/internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.-->
    <target xsi:type="File" name="authFile" fileName="${basedir}/logs/auth/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
    
    <target xsi:type="File" name="accountFile" fileName="${basedir}/logs/controller/account/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="groupAdministrationFile" fileName="${basedir}/logs/controller/groupAdministration/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
    
    <target xsi:type="File" name="mobileFile" fileName="${basedir}/logs/controller/mobile/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="emailFile" fileName="${basedir}/logs/email/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="settingsFile" fileName="${basedir}/logs/controller/settings/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="supportFile" fileName="${basedir}/logs/controller/support/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="surveyCreationFile" fileName="${basedir}/logs/controller/surveyCreation/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="surveyResultsFile" fileName="${basedir}/logs/controller/surveyResults/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <target xsi:type="File" name="pdfFile" fileName="${basedir}/logs/pdf/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
    
    <target xsi:type="File" name="schedulerFile" fileName="${basedir}/logs/schedulers/${shortdate}.log"
                layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
    
    <target xsi:type="File" name="globalFile" fileName="${basedir}/logs/global/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="SimpleQ.Webinterface.Controllers.AccountController" minlevel="Warn" writeTo="accountFile" />
    <logger name="SimpleQ.Webinterface.Attributes.*" minlevel="Warn" writeTo="authFile" />
    <logger name="SimpleQ.Webinterface.Controllers.GroupAdministrationController" minlevel="Warn" writeTo="groupAdministrationFile" />
    <logger name="SimpleQ.Webinterface.Controllers.MobileController" minlevel="Warn" writeTo="mobileFile" />
    <logger name="SimpleQ.Webinterface.Extensions.Email" minlevel="Warn" writeTo="emailFile" />
    <logger name="SimpleQ.Webinterface.Controllers.SettingsController" minlevel="Warn" writeTo="settingsFile" />
    <logger name="SimpleQ.Webinterface.Controllers.SupportController" minlevel="Warn" writeTo="supportFile" />
    <logger name="SimpleQ.Webinterface.Controllers.SurveyCreationController" minlevel="Warn" writeTo="surveyCreationFile" />
    <logger name="SimpleQ.Webinterface.Controllers.SurveyResultsController" minlevel="Warn" writeTo="surveyResultsFile" />
    <logger name="SimpleQ.Webinterface.Extensions.Pdf" minlevel="Warn" writeTo="pdfFile" />
    <logger name="SimpleQ.Webinterface.Schedulers.*" minlevel="Warn" writeTo="schedulerFile"/>
    <logger name="SimpleQ.Webinterface.MvcApplication" minlevel="Warn" writeTo="globalFile"/>
  </rules>
</nlog>
