@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h5>Erfolgreich registriert</h5>
Ihr Kunden-Code: @ViewBag.custCode<br />
Email-Bestätigungslink gesendet an: @ViewBag.email<br />
Bitte bestätigen Sie Ihre Email-Adresse bevor Sie sich einloggen.
