@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" id="password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="confirmPassword">Passwort bestätigen</label>
        <input type="password" id="confirmPassword" class="form-control" />
    </div>

    <button type="button" class="btn btn-primary" id="savePwd">Passwort speichern</button>
</div>
<br />
<span id="msg"></span>
<br />
<a class="btn btn-primary" href="@Url.Action("Login", "Account")" style="display: none" id="toLogin">Zum Login</a>
@using(Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<script>
    $(function () {
        $("#savePwd").click(function () {
            if ($("#password").val() == $("#confirmPassword").val()) {
                let form = $("#__AjaxAntiForgeryForm");
                let token = $('input[name="__RequestVerificationToken"]', form).val();
                $.ajax({
                    method: "PUT",
                    url: "@Url.Action("ChangePassword", "Account")",
                    data: {
                        "__RequestVerificationToken": token,
                        "authToken": "@ViewBag.authToken",
                        "password": $("#password").val()
                    },
                    statusCode: {
                        200: function () {
                            $("#msg").text("Passwort geändert.");
                            $("#toLogin").show();
                        },
                        409: function () {
                            $("#msg").text("Ungültiger Link!");
                        }
                    }
                });
            } else {
                $("#msg").text("Passwörter stimmen nicht überein.");
            }
        });
    });
</script>