<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SimpleQDBEntities" connectionString="metadata=res://*/Models.SimpleQModel.csdl|res://*/Models.SimpleQModel.ssdl|res://*/Models.SimpleQModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GANJABOOK;initial catalog=SimpleQDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>