.groups-ul {
    height: 150px;
    overflow-y: scroll;
}

.navbar-img {
    max-height: 40px;
}

.navbar-hidden-img {
    max-height: 110px;
}

    .navbar-hidden-img:hover {
        max-height: 115px;
    }

#showNavbarBtn {
    float: left;
    height: 100%;
    border-radius: 0;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-color: black;
    border-bottom-color: black;
    border-bottom-right-radius: 10px;
}

/*#hideNavbarBtn {
    height: 100%;
    border-radius: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-color: black;
    border-top-color: black;
    border-bottom-color: black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}*/

.btn-rounded {
    border-style: solid;
    border-radius: 4px!important;
}

.font-size-responsive {
    font-size: 1vw;
}

#topDivMobile {
    display:none;
}

@media screen and (max-width: 767px) {
    #smallLeftCol{
        display:none;
    }
    #leftCol {
        display: none;
    }
    #rightCol{
        margin-top: 200px;
    }

    #navbarMobile{
        display:block;
    }

    #topDivMobile{
        display:block;
    }

    #topDiv{
        display:none;
    }
}

#leftCol {
    height: 90vh;
    width: 260px;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: rgb(248, 248, 248);
    background-image: url("Images/leftColBG.jpg");
}



#smallLeftCol {
    width: 80px;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: rgb(248, 248, 248);
    background-image: url("Images/leftColBG.jpg");
}

#topDiv {
    height: 10vh;
    /*background-color: rgb(43, 160, 253);*/
    background-color: rgb(248, 248, 248);
    background-image: url("Images/topBG.jpg");
}


#rightCol {
    height: 90vh;
    margin-left: 260px;
    overflow-y: auto;
}

.btn-grey {
    /*background-color: rgb(248, 248, 248);*/
    /*background-color:transparent!important;*/
}

.list-group-item{
    background-color: transparent;
}

#hideNavbarBtn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: none;
}

#showNavbarBtn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: none;
}

.header {
    /*font-family: 'Francois One', sans-serif;*/
    color: rgb(0,109,204);
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
}

#hideNavigationText{
    font-size: small;
}

.smallNavbarIcon:hover {
    text-shadow:2px 2px black;
}




