.groups-ul {
    height: 150px;
    overflow-y: scroll;
}

.navbar-img {
    max-height: 40px;
}

.navbar-hidden-img {
    max-height: 110px;
}

    .navbar-hidden-img:hover {
        max-height: 115px;
    }

#showNavbarBtn {
    float: left;
    height: 100%;
    border-radius: 0;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-color: black;
    border-bottom-color: black;
    border-bottom-right-radius: 10px;
}

/*#hideNavbarBtn {
    height: 100%;
    border-radius: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-color: black;
    border-top-color: black;
    border-bottom-color: black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}*/

.btn-rounded {
    border-style: solid;
    border-radius: 4px!important;
}

.font-size-responsive {
    font-size: 1vw;
}

@media screen and (max-width: 767px) {
    #hideNavbarBtn {
        display:none;
    }
    .font-size-responsive {
        font-size: 5vw;
    }
}


