<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="PersId" value="1"/>
    <add key="CustCode" value="m4rku5"/>
    <add key="DepId" value="1"/>
    <add key="DepName" value="abteilung"/>
  </appSettings>
</configuration>