<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.5.2" package="at.simpleq.app" android:installLocation="auto" android:versionCode="7">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<permission android:name="at.simpleQ.SimpleQ.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="at.simpleQ.SimpleQ.permission.C2D_MESSAGE" />
	<application android:label="SimpleQ" android:icon="@mipmap/ic_launcher_2">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="at.simpleQ.SimpleQ" />
			</intent-filter>
		</receiver>
	</application>
</manifest>